* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  height: 48em;
  width: 34em;
  border-radius: .5em;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form {
  height: 12em;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  margin: .5em;
}

.username {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
}

.username input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}

.username label {
  position: absolute;
  bottom: -.5em;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.username label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.username .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.username input:focus + label .content-name, .username input:valid + label .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.username input:focus + label::after, .username .form input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.password {
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
  margin-top: 1em;
}

.password input {
  width: 100%;
  height: 100%;
  color: #595f6e;
  padding-top: 20px;
  border: none;
  outline: none;
}

.password label {
  position: absolute;
  bottom: -.5em;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.password label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #5fa8d3;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.password .content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.password input:focus + label .content-name, .password input:valid + label .content-name {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #5fa8d3;
}

.password input:focus + label::after, .password .form input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.buttons {
  margin-top: 1em;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.buttons button {
  width: 100%;
}

.media {
  margin-top: 4em;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media button {
  margin-top: 1em;
  width: 100%;
}

.log {
  margin-right: 1em;
  color: white;
}

.fb {
  color: white;
  background-color: #3B5998 !important;
}

.go {
  color: white !important;
  background-color: #dd4b39 !important;
}

.text {
  margin-top: 3em;
  font-weight: bold;
}

.text span {
  color: #0275d8;
}

.text span:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */